// =========== Font Sizes =========== //
$font-mini: 0.5rem;
$font-xsmall: 0.7rem;
$font-small: 0.9rem;
$font-medium: 1rem;
$font-medium-up: 1.3rem;
$font-large: 1.5rem;
$font-xlarge: 2rem;

// =========== Font Weights =========== //
$light: 200;
$normal: 400;
$bold: 600;

// =========== Colors =========== //
$blue: #0053b6;
$white: #ffffff;
$grey: #dedfda;
$lightest-grey: #f9f9f9;
$lighter-grey: #f2f2f2;
$light-grey: #e6e6e6;
$medium-grey: #7e7f7a;
$medium-dark-grey: #444;
$dark-grey: #222;
$black: #000;
$light-blue: #005bb0;
$red: #eb143a;
$green: #00ac17;
