@import "../../styles/mixins";
@import "../../styles/variables";

.intro {
  text-align: center;
  margin: 1rem auto;
  font-size: $font-medium-up;
  max-width: 50rem;

  @include small {
    font-size: $font-small;
  }
}

.movie-poster {
  max-height: 12rem;
  max-width: 12rem;
  margin: auto;
  padding: 0.75rem;
}
