@import "../../styles/mixins";
@import "../../styles/variables";

.card {
  box-shadow: 0 0.2rem 0.45rem 0 $medium-grey;
  border-radius: 0.15rem;

  &[aria-checked="true"] {
    box-shadow: 0 0.2rem 0.45rem 0 $blue;

    .card-heading {
      background: $blue;
    }
  }

  .card-heading {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0.5rem;
    background: $dark-grey;
    color: $white;

    @include small {
      font-size: calc(0.5rem + 1.5vmin);
    }
  }

  .card-content {
    min-height: 9rem;
    display: flex;
    align-items: center;

    @include medium {
      min-height: 0;
    }
  }
}
